/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.card-section {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid #868686;
    padding: 10px;
    background-color: #dbdbdb;
}

.card {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid #33354c;
    padding: 10px;
    background-color: #9eb9cf;
    border-radius: 5px;
    margin-bottom: 10px;
}

#temp-badge-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#temp-badge {
    background-color: #ffcc00;  /* Yellow Badge */
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: none; /* Initially Hidden */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}
